@charset "utf-8"; 

:root{
  --mainBg: #F7F4F3;
  --textColor: #333;
  --textColorSub: #999;
  --primaryColor: #7FA856;
  --secondaryColor: #43BF7B;
  --accentColor: #EF508B;
  --font-xl: 4.0rem;
  --font-lg: 3.2rem;
  --font-base: 2.4rem;
  --font-sm: 2.0rem;
  --font-xs: 1.8rem;
  --font-xxs: 1.6rem;
  --font-xxxs: 1.3rem;
  --font-xxxxs: 1.0rem;
  --radius-sm: 3rem;
  --radius-lg: 5rem;
  --radiusInfinite: 99999rem;
  --boxShadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* 탑버튼추가 */
html{scroll-behavior: smooth;}

body{
  font-size: var(--font-base);
  word-break: keep-all;
}
section{
  position: relative;
  max-width: 140rem; /* 1400px */
  margin: 0 auto;
  padding: 15rem 0;
  z-index: 0;
}
section.full{ /* 배경 전체로 넣을 경우 */
  width: 100%; 
  max-width: none;
}
section.full.sample{
  height: 50rem;
  background-color: var(--mainBg);
}

.rel{
  position: relative;
  height: 100%;
}


/* 리모컨 */
.control{
  position: fixed;
  left: 3rem;
  bottom: 2rem;
  z-index: 50;
  padding: 0;
  width: 15rem;
  height: 17.2rem;
}
.control .recruit-btn img,
.control .exhibit-btn img,
.control .topbtn img{
  display: flex;
  flex-direction: column;
}
.control .recruit-btn{
  position:relative;
}
.control .recruit-btn img{
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.control .recruit-btn img:nth-child(2){
  opacity: 0;
}
.control .recruit-btn:hover img:nth-child(1){
  opacity: 0;
}
.control .recruit-btn:hover img:nth-child(2){
  opacity: 1;
}
.control .exhibit-btn{
  position:relative;
}
.control .exhibit-btn img{
  position: absolute;
  top: 6rem;
  left: 0;
  transition: 0.3s;
}
.control .exhibit-btn img:nth-child(2){
  opacity: 0;
}
.control .exhibit-btn:hover img:nth-child(1){
  opacity: 0;
}
.control .exhibit-btn:hover img:nth-child(2){
  opacity: 1;
}
.control .topbtn{
  position:relative;
}
.control .topbtn img{
  position: absolute;
  top: 12rem;
  left: 0;
  transition: 0.3s;
}
.control .topbtn img:nth-child(2){
  opacity: 0;
}
.control .topbtn:hover img:nth-child(1){
  opacity: 0;
}
.control .topbtn:hover img:nth-child(2){
  opacity: 1;
}


h2{ /* 메인타이틀 */
  font-family: 'YUniverse-B';
  font-size: var(--font-xl);
}
h3{ /* 제목 */
  font-weight: 600;
  font-size: var(--font-lg);
}
h4{ /* 작은제목 */
  font-weight: 500;
  font-size: var(--font-base);
}
h5{ /* 헤더 */
  font-size: var(--font-sm);
  /* color: var(--textColorSub); */
}
h6{ /* 본문 */
  font-size: var(--font-xs);
  /* color: var(--textColorSub); */
}

.tag{
  display: inline-block;
  /* background-color: var(--mainBg); */
  /* background-color: #fff; */
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius-sm);
}
.tag.primary{
  color: var(--primaryColor);
  border: 0.1rem solid var(--primaryColor);
}
.tag.accent{
  color: var(--accentColor);
  border: 0.1rem solid var(--accentColor);
}
.btn{
  display: inline-block;
  width: 25rem;
  height: 6rem;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radiusInfinite);
  color: var(--mainBg);
  background-color: var(--primaryColor);
  /* box-shadow: var(--boxShadow); */
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover{
  background-color: rgb(127 168 86/ 80%);
}
/* .btn.accent{
  background-color: var(--accentColor);
} 
.btn.accent:hover{
  background-color: rgb(239 80 139/ 80%);
}*/

/* Tablet */
@media screen and (max-width:1400px){
  body{
    font-size: var(--font-sm);
  }
  .rel{
    max-width: 140rem;
    margin: 0 auto;
  }
  h2{ /* 메인타이틀 */
    font-size: var(--font-xl);
  }
  h3{ /* 제목 */
    font-size: var(--font-lg);
  }
  h4{ /* 작은제목 */
    font-size: var(--font-sm);
  }
  h5{ /* 헤더 */
    font-size: var(--font-xs);
  }
  h6{ /* 본문 */
    font-size: var(--font-xxs);
  }
  .btn{
    height: 5rem;
  }
  .control .recruit-btn img{
    width: 14rem;
  }
  .control .exhibit-btn img{
    width: 14rem;
  }
  .control .topbtn img{
    width: 4.5rem;
  }
}

/* Mobile */
@media screen and (max-width:768px){
  body{
    font-size: var(--font-xs);
  }
  .rel{
    max-width: 76.8rem;
    margin: 0 auto;
  }
  h2{ /* 메인타이틀 */
    font-size: var(--font-lg);
  }
  h3{ /* 제목 */
    font-size: var(--font-sm);
  }
  h4{ /* 작은제목 */
    font-size: var(--font-xs);
  }
  h5{ /* 헤더 */
    font-size: var(--font-xxs);
  }
  h6{ /* 본문 */
    font-size: var(--font-xxxs);
  }
  .btn{
    height: 5rem;
    font-size: 1.5rem;
  }
  .control .recruit-btn,
  .control .exhibit-btn{
    display: none;
  }
}