@charset "utf-8"; 
#contest main {
  width: 100%;
  margin: auto;
}

#contest section:nth-child(1) {
  margin-top: 9rem;
}

#contest .main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contest .section-tit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 스크롤애니메이션 */
#contest .fade-up {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.8s ease;
}

#contest .fade-up.active {
  opacity: 1;
  transform: translateY(0);
}

/* 메인 비주얼______________________ */
#contest section.main-visual {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}
#contest .main-visual .swiper {
  padding: 0;
  margin: auto;
  width: 100%;
  height: 70rem;
  /* border: 5px solid #000; */
}
#contest .main-visual .swiper-slide {
  width: 140rem;
}
/* 타이틀 */
#contest .visu-tit {
  width: 100%;
  padding: 3rem 10rem;
  text-align: center;
  /* border: 3px solid green; */
}

/* 배경이미지 */
#contest .visual-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70rem;
  z-index: 0;
}
/* 글래스모피즘 필터 */
#contest .glass-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

#contest .swiper-slide:nth-of-type(1) .visual-bg {
  background: url(../image/contest1.jpg) no-repeat center/cover;
}
#contest .swiper-slide:nth-of-type(2) .visual-bg {
  background: url(../image/contest2.PNG) no-repeat center/cover;
}
#contest .swiper-slide:nth-of-type(3) .visual-bg {
  background: url(../image/contest3.PNG) no-repeat center/cover;
}
#contest .swiper-slide:nth-of-type(4) .visual-bg {
  background: url(../image/contest4.PNG) no-repeat center/cover;
}
#contest .swiper-slide:nth-of-type(5) .visual-bg {
  background: url(../image/contest5.PNG) no-repeat center/cover;
}

/* 네비게이터 */
#contest .swiper-pagination {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 5rem;
}
#contest .swiper-pagination-bullet {
  background: #333;
  opacity: 0.6;
  margin: 0 6px;
  transition: all 0.3s ease;
  width: 0.5rem;
  height: 0.5rem;
}
#contest .swiper-pagination-bullet-active {
  background: var(--secondaryColor);
  opacity: 1;
  width: 2rem;
  height: 0.5rem;
  border-radius: 2rem;
}

/* 콘텐츠 영역 */
#contest .visual-item {
  /* border: 1px solid yellow; */
  z-index: 2;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  margin-top: 20rem;
}
#contest .swiper-slide .poster {
  border-radius: 50rem 50rem 0 0;
  width: 30rem;
  height: 45rem;
  object-fit: cover;
}
#contest .visual-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 6rem;
  font-size: 2rem;
  color: #fff;
  background-color: #333;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}
#contest .visual-btn:hover {
  background-color: var(--secondaryColor);
}
#contest .visual-item .mob-btn{display: none;}

/* info */
#contest .visual-info {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40rem;
  height: 45rem;
}
#contest .visual-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
#contest .visual-text h1 {
  margin-top: 2rem;
  font-size: 4rem;
  color: #333;
  font-weight: 600;
}
#contest .visual-text h3 {
  font-size: 2rem;
  margin-top: 1rem;
}
#contest .visual-text h4 {
  font-size: 1.8rem;
  margin-top: 1rem;
}
#contest .visual-text h5 {
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--secondaryColor);
  width: 5rem;
  padding: 0.4rem 0.6rem;
  border-radius: 50rem;
  margin-top: 1rem;
  text-align: center;
}

/* 현재전시, 예정전시 ______________*/
#contest .nowpost .nowpost-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contest .nowpost .tab-header .tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contest .nowpost .tab-header .tab li {
  font-size: 2rem;
  width: 30rem;
  height: 7rem;
  text-align: center;
  line-height: 6rem;
  transition: 0.3s;
  cursor: pointer;
}
#contest .nowpost .tab-header .tab li:hover {
  border-bottom: 1px solid #333;
}
#contest .nowpost .tab-header .tab li.active {
  font-weight: bold;
  border-bottom: 1px solid var(--primaryColor);
}
#contest .nowpost .tab-header .tab-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 30rem;
  background-color: var(--primaryColor);
  transition: left 0.3s ease;
}

#contest .nowpost .tab-contents > div {
  display: none;
}
#contest .nowpost .tab-contents > div.active {
  display: block;
}


#contest .swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  margin-top: 3rem;
}

#contest .swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}


/* 아트허브 소식_______________ */
#contest .news .sec4-title {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contest .news .sec4-title h3 {
  font-size: 2.4rem;
}
#contest .news .sec4-title a {
  position: relative;
  color: #333;
  text-align: right;
  transition: 0.3s;
  line-height: 4rem;
  font-size: 2rem;
  font-weight: bold;
}
#contest .news .sec4-title .bi-plus {
  transition: 0.3s;
  font-size: 3rem;
}
#contest .news .sec4-title a:hover {
  font-size: 2.4rem;
}
#contest .news .sec4-title a:hover > .bi-plus {
  font-size: 4rem;
}

/* 아트뉴스 */
#contest .news-contents {
  padding: 3rem 0;
  width: 100%;
}
#contest .news .news-wrap,
#contest .news .center-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  max-width: 140rem;
}

#contest .news .news-wrap a:hover,
#contest .news .center-wrap a:hover {
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
}

#contest .news .news-item {
  width: 42rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 2rem;
  transition: 0.3s ease-out;
}
#contest .news .news-item .news-tit {
  font-size: 2rem;
  font-weight: bold;
  height: 5rem;
}
#contest .news .news-item .news-decs {
  font-size: 1.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.5rem;
}

/* 지원사업 */
#contest .news .news-item .news-date {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  color: #666;
}
#contest .news .news-item .center-tit {
  font-size: 2rem;
  font-weight: bold;
}
#contest .news .news-item .center-date {
  font-size: 1.8rem;
}
#contest .news .news-item .center-name {
  font-size: 1.6rem;
  color: #666;
}




/* 태블릿______________________________ */
@media screen and (max-width: 1400px) {
/* 현재전시, 예정전시 */  
  #contest .visual-item .mob-btn{display: none;}

  /* 아트허브 소식__________ */
  #contest .news .news-contents {
    width: 100%;
  }
  #contest .news .sec4-title {
    width: 100%;
  }
  #contest .news .news-wrap,
  #contest .news .center-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
  }

  #contest .news .news-item {
    width: 100%;
  }
}

/* 모바일______________________________ */
@media screen and (max-width: 768px) {
  #contest section:nth-child(1) {
    margin-top: 5rem;
  }
  #exhibit .btn{
    margin-top: 5rem;
  }

  /* visual_________ */
  #contest .main-visual .swiper,
  #contest .main-visual .swiper-slide .visual-bg,
  #contest .main-visual .swiper-slide .glass-bg {
    height: 70rem;
  }

  #contest .main-visual {
    height: max-content;
    position: relative;
  }
  #contest .visual-item {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }
  #contest .visual-item .poster {
    width: 28rem;
    height: 35rem;
  }
  /* 네비게이터 */
  #contest .swiper-pagination {
    top: 2rem;
  }

  #contest .visual-item .mob-btn{
    display: block;
    background-color: var(--primaryColor);
    border-radius: 5rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 5rem;
    margin-top: 2rem;
  }

  /* info */
  #contest .visual-info {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 40rem;
    height: 15rem;
    align-items: center;
  }
  #contest .visual-info .visual-btn{
    display: none;
  }
  #contest .visual-text{
    display: flex;
    flex-direction: column;
    min-width: 28rem;
    padding: 1.5rem;
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
  }
  #contest .visual-text h1 {
    font-size: 1.6rem;
    color: #333;
    font-weight: 600;
  }
  #contest .visual-text h3,
  #contest .visual-text h4 {
    font-size: 1.4rem;
    margin-top: 0;
  }
  #contest .visual-text h5 {
    font-size: 1.4rem;
    width: 4rem;
    margin-top: 0rem;
    text-align: center;
  }

  /* 현재전시, 예정전시 ______________*/
  #contest .nowpost-item {
    padding: 5rem 0;
  }
  #contest .nowpost .tab-header .tab{
    width: 100%;
  }
  #contest .nowpost .tab-header .tab li{
    width: 20rem;
    height: 7rem;
  }


  /* 아트허브소식 */
  #contest .news {
    margin-top: 5rem;
  }
  #contest .news .news-contents {
    flex-direction: column;
    justify-content: center;
  }
  #contest .news .sec4-title {
    width: 100%;
  }
  #contest .news .news-wrap,
  #contest .news .center-wrap {
    width: 100%;
  }

  #contest .news .news-item {
    width: 100%;
    border-radius: 1rem;
    gap: 1rem;
  }

  #contest .news .news-item .center-tit,
  #contest .news .news-item .news-tit {
    font-size: 1.6rem;
  }
  #contest .news .news-item .center-date,
  #contest .news .news-item .news-decs {
    font-size: 1.5rem;
  }
  #contest .news .news-item .center-name,
  #contest .news .news-item .news-date {
    font-size: 1.4rem;
  }
}
