footer{
  background-color: #1C2026;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

footer address{
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 5rem;
}

footer .footer-no-pc{display: none;}

footer .footer-inner{
  width: 120rem;
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
footer .footer-tit{
  display: flex;
  align-items: end;
}

footer .footer-item{
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer-item span{
  font-size: 1.6rem;
}
footer .footer-tit a:nth-child(2){
  transition: 0.3s;
}
footer .footer-info a{
  color: #fff;
  font-size: 1.6rem;
  transition: 0.3s;
}
footer .footer-tit:hover,
footer .footer-info a:hover{
  color: var(--primaryColor);
}

footer .footer-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .footer-sns{
  display: flex;
  gap: 2rem;
  width: max-content;
}

footer .footer-contact span{
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primaryColor);
} 
footer .footer-contact p{
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

footer .footer-sns a:hover{
  transform: translateY(0.2rem);
}


/* 타블렛 */
@media screen and (max-width: 1400px) {
  footer{    margin-top: 10rem;  }
  
  footer .footer-no-pc{display: block;}
  footer .footer-inner{
    width: 76.8rem;
    height: max-content;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 2rem 0;
  }

  footer .footer-item span,
  footer .footer-tit,
  footer .footer-contact {display: none;}

  footer .footer-sns{
    margin-top: 2rem;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  footer{margin-top: 5rem;}
  footer img{
    width: 10rem;
  }
  footer .footer-no-pc{display: block;}
  footer .footer-inner{
    width: 37.5rem;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 5rem 0 1rem 0;
  }
  footer .footer-item,
  footer .footer-sns{
    display: none;
  }

}