header{
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  box-shadow: var(--boxShadow);
}
header .header-rel{
  /* border: 1px solid #000; */
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  position: relative;
}

header .header-logo img{
  display: block;
  width: 18rem;
}
header .header-rel > .site-group{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 5rem;
  font-size: var(--font-sm);
}
header .header-rel > .site-group li:hover{
  color: var(--primaryColor);
}
header#ver-contest .header-rel > .site-group li:hover{
  color: var(--secondaryColor);
}

header .header-right{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
header .header-right >*{
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

header .search-box { 
  position: relative;
  border-radius: 2rem;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
header .search-box i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  pointer-events: none;
  transition: 0.2s ease;
  cursor: pointer;
}
header .search-box input {
  border: none;
  background: transparent;
  outline: none;
  width: 0;
  transition: 0.3s ease;
  font-size: 1.4rem;
  margin-left: 1rem;
}

/* 마우스오버 */
header .search-box:hover,
header .search-box input:focus {
  width: 20rem;
  background: #f2f2f2;
}
header .search-box:hover input,
header .search-box input:focus {
  width: 80%;
}
header .search-box:hover i{
  color: var(--primaryColor);
}
header#ver-contest .search-box:hover i{
  color: var(--secondaryColor);
}
header i:hover{
  color: var(--primaryColor);
}
header#ver-contest i:hover{
  color: var(--secondaryColor);
}

header .login-icon{
  z-index: 100;
}

header .mob_btn{
  display: none;
  /* display: block; */
  width: 2.8rem;
  height: 1.8rem;
  position: relative;
  z-index: 100;
}
header .mob_btn span{
  position: absolute;
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--textColor);
  transition: 0.3s ease;
}
header .mob_btn span:nth-child(1){top: 0;}
header .mob_btn span:nth-child(2){top: 50%;}
header .mob_btn span:nth-child(3){top: 100%;}

body.mOpen header .mob_btn span{background-color: #000;}
body.mOpen header .mob_btn span:nth-child(1){
  transform: rotate(45deg);
  top: 50%;
}
body.mOpen header .mob_btn span:nth-child(2){
  transform: translateX(100%);
  opacity: 0;
}
body.mOpen header .mob_btn span:nth-child(3){
  transform: rotate(-45deg);
  top: 50%;
}


header .subNav{
  position: fixed;
  top: 0;
  right: -110%; /* 오른쪽으로 밀어둠 */
  /* right: 0; */
  width: 40%;
  height: 100vh;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 90;
}
header .subNav .inner{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
header .subNav .search-box{
  width: 100%;
  height: auto;
  padding: 2rem;
  border: 2px solid var(--primaryColor);
  border-radius: var(--radiusInfinite);
  margin-top: 3rem;
  background: #fff;
}
header#ver-contest .subNav .search-box{
  border: 2px solid var(--secondaryColor);
}
header .subNav .search-box i{
  right: 2rem;
}
header .subNav .search-box input{
  width: 80%;
  background: #fff;
}

header .subNav .site-group{
  text-align: right;
  display: flex;
  flex-direction: column;
}
header .subNav .site-group li{
  padding: 1rem;
}
header .subNav .site-group li.mypage{
  margin-top: 5rem;
}
header .subNav .site-group li.direct{
  background-color: var(--textColor);
  color: var(--mainBg);
}
header .subNav .site-group li:last-of-type{
  margin-top: 5rem;
}
header .subNav .site-group li:hover{
  color: var(--primaryColor);
}
header#ver-contest .subNav .site-group li:hover{
  color: var(--secondaryColor);
}
header .subNav .sns{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
}
header .subNav .sns img{
  width: 3rem;
  filter: invert(1);
  transition: 0.2s ease;
}

header .subNav .sns img:hover{
  transform: translateY(0.2rem);
}


body.mOpen header .subNav{right: 0;}


header .allMenuWrapBg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
}
body.mOpen header .allMenuWrapBg{
  opacity: 1;
}

body.mOpen .control{
  display: none;
}



/* Tablet */
@media screen and (max-width:1400px){
  header .header-rel{
    width: 100%;
    padding: 3rem 4rem;
  }

  header .header-rel > .site-group{
    display: none;
  }

  header .mob_btn{
    display: inline-block;
  }
}


/* Mobile */
@media screen and (max-width:768px){
  
  header .header-rel{
    /* width: 100%; */
    padding: 0 2rem;
    height: 4.6rem;
  }
  header .header-logo img{
    width: 13rem;
  }
  header .header-right .search-box,
  header .header-right .user-icon,
  header .header-right .login-icon{
    display: none;
  }
  body.mOpen header .header-right .login-icon{
    display: flex;
  }

  header .subNav{
    width: 100%;
  }
}