@charset "utf-8"; 

/* Tablet */
@media screen and (max-width:1400px){
  /* 인트로 */
  #intro .topimg, #intro .bottomimg{
    display: none;
  }

  #intro .title {
    margin: -70px 0 50px;
  }
  #intro .title-txt img{
    width: 378px;
  }
  
  #intro .menu {
    margin-top: -25px;
    flex-direction: column;
  }
  #intro .menu .ex img,
  .menu .re img{
    width: 70%;
  }
  #intro .menu h2 {
    font-size: var(--font-xl);
  }


  #intro .leftimg {
    animation: none !important;
    transform: none !important;
    bottom: -150% !important;
    left: -25% !important;
    width: 80% !important;
    height: auto;
  }
  #intro .rightimg {
    animation: none !important;
    transform: none !important;
    top: 30% !important;
    right: -40% !important;
    width: 80% !important;
  }
}




/* Mobile */
@media screen and (max-width:768px){
  
  /* 인트로 */

  #intro .topimg, #intro .bottomimg{
    display: none;
  }
  #intro .title>img{
    display: none;
  }
  #intro .title {
    width: 258px;
    height: 113px;
    margin: auto;
    margin-top: -10px;
  }
  
  #intro .menu {
    margin-top: 90px;
    flex-direction: column;
  }
  #intro .menu .ex img,
  .menu .re img{
    width: 70%;
  }
  #intro .menu h2 {
    font-size: var(--font-xl);
  }

  #intro .leftimg {
    animation: none !important;
    transform: none !important;
    bottom: -185% !important;
    left: -25% !important;
    width: 85% !important;
    height: auto;
  }
  #intro .rightimg {
    animation: none !important;
    transform: none !important;
    top: 70% !important;
    right: -40% !important;
    width: 90% !important;
  }

}