#intro:before {
  content: '';
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh; 
  background: url(../image/intro/intro-bg.png) no-repeat center top;
  background-size: cover;
  z-index: -1;
  animation: bg 3s ease-out forwards;
  animation-delay: 0.5s; 
}
@keyframes bg {
  to {
    opacity: 0.3;
  }
}


@keyframes op1 {
  to {
    opacity: 1;
  }
}
@keyframes PcLeft {
  to {
    transform: translateX(-19%) scale(60%);
  }
}
@keyframes PcRight {
  to {
    transform: translateX(-4%) scale(60%);
  }
}


#intro{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#intro .leftimg {
  position: absolute;
  bottom: -130%;
  left: -15%;
  width: 250%;
  height: 250%;
  opacity: 1;
  animation: PcLeft 3s ease-out forwards;
  animation-delay: 0.5s; 
}
#intro .rightimg {
  position: absolute;
  top: -50%;
  right: -105%;
  width: 150%;
  opacity: 1;
  animation: PcRight 3s ease-out forwards;
  animation-delay: 0.5s; 
}
#intro .topimg{
  position: absolute;
  top:0;
  left:0;
  opacity: 1;
}
#intro .bottomimg {
  position: absolute;
  right:0;
  bottom: 0;
  opacity: 1;
}

/* 타이틀 */
#intro .title{
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: op1 3s ease-out forwards;
  animation-delay: 0.5s; 
  opacity: 0;
}
#intro  .title-txt img{
  margin-top: 20px;
}



/* 메뉴 */
#intro .menu {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 40px; 
  transition: opacity 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: op1 3s ease-out forwards;
  animation-delay: 0.5s; 
  opacity: 0;
}

#intro .menu .ex,
.menu .re {
  position: relative; 
  text-align: center;
}
#intro .menu img {
  display: block;
  margin: 0 auto;
  opacity: 0.6;
  transition: 0.3s;
}
#intro .menu h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#intro .ex:hover img,
#intro .re:hover img{
  opacity: 1;
}




/* Tablet */
@media screen and (max-width:1400px){
  /* 인트로 */
  #intro .topimg, #intro .bottomimg{
    display: none;
  }
  #intro .title{
    padding-top: 1rem;
    margin-bottom: 50px;
  }
  #intro  .title-txt img{
    width: 378px;
  }


  #intro .menu {
    margin-top: -25px;
    flex-direction: column;
  }
  #intro .menu .ex img,
  .menu .re img{
    width: 70%;
  }
  #intro .menu h2 {
    font-size: var(--font-xl);
  }


  #intro .leftimg {
    animation: none !important;
    position: absolute;
    top: 13%;
    left: -22%;
    width: 80%;
  }
  #intro .rightimg {
    animation: none !important;
    position: absolute;
    top: 40%;
    right: -40%;
    width: 80%;
  }
}




/* Mobile */
@media screen and (max-width:768px){
  
  /* 인트로 */
  #intro .title {
    width: 258px;
    height: 113px;
    margin: 30px auto;
  }
  #intro .topimg, #intro .bottomimg{
    display: none;
  }
  #intro .title>img{
    display: none;
  }
  #intro .topimg, #intro .bottomimg{
    display: none;
  }
  
  #intro .menu {
    margin-top: 40px;
    flex-direction: column;
  }
  #intro .menu .ex img,
  #intro .menu .re img{
    min-width: 60%;
  }
  #intro .menu h2 {
    font-size: var(--font-xl);
  }
  #intro .menu .re{
    margin-top: -4rem;
  }

  #intro .leftimg {
    animation: none !important;
    position: absolute;
    top: 25%;
    left: -22%;
    width: 80%;
  }
  #intro .rightimg {
    animation: none !important;
    position: absolute;
    top: 50%;
    right: -40%;
    width: 80%;
  }
}



