#job {
  position: relative;
  width: 100%; /* 1400px */
  /* width: 100%; */ /* 배경 전체로 넣을 경우 */
  margin: auto;
  /* padding: 15rem 0; */
  z-index: 0;
  
}



/* 제목 */
#job .title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  flex-direction: column;
}

#job #first_cards .title pre h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'YUniverse-B';
  font-weight: bold;
  font-size: var(--font-xxl);
  color: var(--textColor);
  font-size: 10rem;
}



#job .top-image{
  width: 100%;
  margin: 0 auto;
}

#job .recruit_cards .pre-title{

  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../image/top-image2.png");
  background-position: center;
  background-size: cover;
  padding: 17.6rem 0;
}



/* 첫번째 섹션 */

#job .recruit_cards .pre-title h2{
  color: var(--mainBg);
  font-size: var(--font-xl);
  text-align: center;
  margin-top: 10rem;
}

/* 중앙 검색창 */

#job .search-box2 { 
  width:100%;
  height: auto;
  border-radius: 2rem;
  color: var(--primaryColor);
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#job .search-box2 input {

  margin: 3rem;
  border: solid 2px var(--primaryColor);
  border-radius: 1rem;
  background: transparent;
  outline: none;
  font-size: 2rem;

}


#job .search-box2 .searchimage i{
  
  font-size: 1.8rem;
  pointer-events: none;
  color: var(--primaryColor);
  
}

/* 두번째 섹션 게시판 */

#job table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 2rem 5rem;
}

#job table tr .center {
  text-align: center;
  font-size: 2rem;
}

#job table tr .left{
  font-size: 2.2rem;

}

#job table tr .date{
  font-size: 1.6rem;

}


#job .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  color:var(--mainBg)
}


@media (max-width:1400px)  {

  #job .mobile_btn{
      display:block;
    }
    
    #recruit_footer p:nth-child(2) {
  color:var(--mainBg);
  text-align: center;
}

#recruit_footer p:nth-child(3) {
  color:var(--mainBg);
  font-size: var(--font-xxxxs);
  text-align: center;
}
#recruit_footer p:nth-child(5) {
  color:var(--mainBg);
  font-size: var(--font-xxs);
  text-align: center;

}
#recruit_footer p:nth-child(7) {
  font-size: var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}

#recruit_footer p:nth-child(8) {
  font-size: var(--font-xxs);
  font-weight:900;
  color: var(--mainBg);
  text-align: center;
}
#recruit_footer p:nth-child(9) {
  font-size:var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}

#recruit_footer p:nth-child(10) {
  font-size:var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}
#recruit_footer p:nth-child(11) {
  font-size:var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}
#recruit_footer p:nth-child(12) {
  font-size:var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}

#recruit_footer p:nth-child(13) {
  display: none;
}

#recruit_footer .footer-logo {
  display: none;
}
    
#recruit_footer .footer_background .rel .footer_icons{
  text-align:center;
}
  
    /* #recruit_footer .footer_background .rel .footer_icons{
      margin-left: 48.5%;
  } */

#job .second_textbox .card ul a{
  display:flex;
  flex-direction: column;
}

#job .second_textbox .second_title{
  display:none;
}
  
}



@media (max-width:768px){

    #job .mobile_btn{
      display:block;
    }
    

    #job{ width:auto; height: auto;}

    #job #second_cardsbox { padding:0rem;}

    #job header .topMenu {display:none;}

    #job header .search-box {display:none;}

    #job header .user_icon {display:none;}

  
    #recruit_footer .footer_texts{
    text-align:center;
    color: var(--mainBg);
  }

    #recruit_footer .rel .footer_texts{
      margin: 0 0 0 0;
      position: relative;
      bottom: 7rem;
    }

    #recruit_footer .footer_background .rel .footer_icons{
      display:none;
    }

    #recruit_footer p:nth-child(2) {
        display:none;
    }
    
    #recruit_footer p:nth-child(3) {
        display:none;
    }
    #recruit_footer p:nth-child(5) {
        display:none;
    
    }
    #recruit_footer p:nth-child(7) {
        display:none;
    }
    
    #recruit_footer p:nth-child(8) {
        display:none;
    }
    #recruit_footer p:nth-child(9) {
        display:none;
    }
    
    #recruit_footer p:nth-child(10) {
        display:none;
    }
    #recruit_footer p:nth-child(11) {
        display:none;
    }
    #recruit_footer p:nth-child(12) {
        display:none;
    }
    #recruit_footer p:nth-child(13) {
    display: block;
        }

    #recruit_footer .footer-logo {
    display: block;
    }
    
    #job .second_textbox .card ul a{
    display:flex;
    flex-direction: column;
}
    #job .second_textbox .second_title{
  display:none;
}

#job .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  color:var(--mainBg)
}

    
  }
