@charset "utf-8"; 

#login section,
#join section{
  margin-top: 9rem; /* 헤더높이 */
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  background: url(../image/login-bg.jpg) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
#login section:after,
#join section:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

#login .container,
#join .container{
  background-color: #fff;
  border-radius: var(--radius-lg);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

#login .content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
#login .left,
#login .right{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  position: relative;
}
#login .left h3{
  width: 25rem;
  margin: 0 2rem;
}
#login .btn.join{
  border: 1px solid var(--primaryColor);
  background-color: #fff;
  color: var(--primaryColor);
}
#login .btn.join:hover{
  background-color: var(--primaryColor);
  color: var(--mainBg);
}

#login .left::after{
  content: '';
  position: absolute;
  background-color: #333;
  width: 0.1rem;
  height: 80%;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

#login .right{
  gap: 5rem;
}
#login .right .enter{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#login .right .enter>input{
  width: 100%;
  outline: 1px solid #333;
  padding: 2rem;
  border-radius: 1rem;
}
#login .right .enter>input:focus{
  outline: 2px solid var(--primaryColor);
}

#login .right .login-footer{
  font-size: var(--font-xxxs);
  display: flex;
  gap: 2rem;
}

#login .btn{
  margin: 0;
  width: 100%;
}
#login .right .buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#login .right .btn.join{
  display: none;
}

#login .right .or-text{
  position: relative;
  padding: 0 2rem;
  font-size: var(--font-xxs);
}
#login .right .or-text::before,
#login .right .or-text::after{
  content: '';
  position: absolute;
  width: 30%;
  height: 0.1rem;
  top: 50%;
  background-color: #999;
}
#login .right .or-text::before{  left: 100%;}
#login .right .or-text::after{  right: 100%;}

#login .right .sns{
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0;
}

#login .right .sns img{
  transition: 0.2s ease;
}
#login .right .sns img:hover{
  transform: translateY(0.2rem);
}



/* 회원가입 */
#join .container{
  width: 80rem;
  padding: 5rem 10rem;
}
#join .container h2{
  margin-bottom: 5rem;
}
#join form{
  width: 100%;
}
#join dl.enter{
  /* border: 1px solid #000; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#join dl div{
  display: grid;
  grid-template-columns: 20rem auto;
}
#join dl div:not(:last-of-type){
  align-items: center;
}
#join dt{
  font-weight: bold;
}
#join dd{
  display: flex;
  flex-direction: column;
}
#join .enter dd>input{
  width: 100%;
  outline: 1px solid #333;
  padding: 1.5rem;
  border-radius: 1rem;
}
#join form button{
  width: 100%;
  margin: 10rem auto 0;
}

/* Tablet */
@media screen and (max-width:1400px){
  #login .container{
    width: 50rem;
  }
  #login .content{
    width: 100%;
    display: flex;
  }
  #login .left{
    display: none;
  }
  #login .right .btn.join{
    display: flex;
  }

  #join .container{
    width: 50rem;
    padding: 5rem;
  }
}

/* Mobile */
@media screen and (max-width:768px){
  #login section,
  #join section{
    background: #fff;
    margin-top: 4.6rem; /* 헤더높이 */
    padding: 5rem 0;
  }
  #login section::after,
  #join section::after{
    display: none;
  }
  #login .container,
  #join .container{
    /* border: 1px solid red; */
    width: 100%;
  }
  #join dl div{
    display: grid;
    grid-template-columns: 12rem auto;
  }


}
