/* 태블릿______________________________ */
@media screen and (max-width:1400px){ 
  main{
  max-width: 76.8rem;
  border: 1px solid #000;
  }
  section{
    width: 76.8rem; 
  }

  /* 내 프로필 */
  #mypage .my-title img{
    width: 18rem;
  }
  #mypage .pc-only{display: none;}
  #mypage .profile-box{
    max-width: 68rem;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  #mypage .profile-user img{
    width: 10rem;
    height: 10rem;
  }
  #mypage .profile-info{
    width: max-content;
  }
  #mypage .profile-id,
  #mypage .profile-email,
  #mypage .profile-num{
    margin: 2rem 0;
  }

  #mypage .btn-box{
    max-width: 68rem;
    height: 20rem;
    border: 1px solid var(--primaryColor);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #fff;
    margin: 2rem auto 0 auto;
  }
  #mypage .btn-box a{transition: 0.3s;}
  #mypage .btn-box a p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mypage .btn-box a p i{
    font-size: 3.5rem;
    color: #333;
    padding: 1rem;
    background-color: #F7F4F3;
    border-radius: 50rem;
    width: 8rem;
    height: 8rem;
    text-align: center;
    line-height: 6rem;
    margin-bottom: 2.5rem;
  }
  #mypage .btn-box a:hover,
  #mypage .btn-box a:hover>p>i{
    color: var(--primaryColor);
  }
  #mypage .sub-btn{
    width: 68rem;
    padding-right: 0.1rem;
  }


  /* 내 게시물 */
  #mypage .coment-box{
    max-width: 68rem;
    padding: 2rem;
  }
  #mypage .coment-box .mypage-icon{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #mypage .coment-box .coment-icon{
    background-color:#333;
    color: #fff;
    width: 5rem;
    height: 5rem;
  }
  #mypage .coment-box .coment-txt{
    width: 36rem;
    margin: 0 2rem;
  }
  #mypage .mypage-secTit{
    max-width: 68rem;
    height: 5.5rem;
  }
  #mypage .mypage-secTit h1{
    font-size: 2rem;
    width: 12rem;
  }
  #mypage .mypage-secTit h3{font-size: 3.2rem;}
  #mypage .mypage-secTit h4{
    font-size: 1.6rem;
    margin-left: 4rem;
  }
  #mypage .list .list-box{
    max-width: 68rem;
    height: 13.5rem;
    border-radius: 2rem;
  }
  #mypage .list .list-box .list-txt .pc-none{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #mypage .list .list-box .list-txt .pc-none h6{
    color: #666;
  }
  #mypage .list .list-box .list-txt .pc-none p{
    display: inline-block;
  }
  #mypage .list .list-box .list-txt .pc-none:nth-child(2){
    text-align: right;
    flex-direction: column-reverse;
  }
}