
#recruit {
  /* width: 100%; */ /* 배경 전체로 넣을 경우 */
  margin: auto;
  /* padding: 15rem 0; */
  z-index: 0;
}


/* 제목 */
#recruit .title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  flex-direction: column;
  
}

#recruit #first_cards .title pre h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'YUniverse-B';
  font-weight: bold;
  font-size: var(--font-xxl);
  color: var(--textColor);
  font-size: 10rem;
}


#recruit .top-image{
  filter: brightness(40%);
  width: 100%;
  margin: 0 auto;
}


/* 첫번째 섹션 */

#recruit .recruit_cards .pre-title{
  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../image/top-image.png");
  background-position: center;
  background-size: cover;
  padding: 17.6rem 0;
  margin: 0 auto;
  text-align: center;
}


#recruit .recruit_cards .pre-title h2{

  color: var(--mainBg);
  font-size: var(--font-xl);
  text-align: center;
  margin-top: 10rem;
}

#recruit .buttons{
  display:flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  cursor: pointer;
}


#recruit .button1{
  display: inline-block;
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 2rem;
  transition: 0.3s;

}
#recruit .button1:hover{
  color: var(--secondaryColor);
  border: 0.1rem solid var(--secondaryColor);
}

#recruit .button2{
  display: inline-block;
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 2rem;
  transition: 0.3s;
  
}
#recruit .button2:hover{
  color: var(--secondaryColor);
  border: 0.1rem solid var(--secondaryColor);
}

#recruit .button3{
  display: inline-block;
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 2rem;
  transition: 0.3s;

}
#recruit .button3:hover{
  color: var(--secondaryColor);
  border: 0.1rem solid var(--secondaryColor);
}


/* 중앙 검색창 */

#recruit .search-box2 { 
  width:100%;
  height: auto;
  border-radius: 2rem;
  color: var(--primaryColor);
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#recruit .search-box2 input {
  border: solid 2px var(--primaryColor);
  border-radius: 5rem;
  background: transparent;
  outline: none;
  font-size: 1.8rem;
  padding: 2rem;
  width: 50rem;
  margin: 3rem;
}
#recruit .search-box2 a{
  font-size: 3rem;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  line-height: 5.5rem;
  transition: 0.3s;
}
#recruit .search-box2 a:hover{
  background-color: var(--primaryColor);
  color: #fff;
}











/* #recruit .search-box2 { 
  width:100%;
  height: auto;
  border-radius: 2rem;
  color: var(--primaryColor);
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#recruit .search-box2 input {

  margin: 3rem;
  border: solid 2px var(--primaryColor);
  border-radius: 1rem;
  background: transparent;
  outline: none;
  font-size: 2rem;

}


#recruit .search-box2 .searchimage i{
  
  font-size: 1.8rem;
  pointer-events: none;
  color: var(--primaryColor);
  

} */


/* 두번째 섹션 */


#recruit #second_cardsbox { 
  background-image: var(--F7F4F3);
  padding: 5rem;
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
}



#recruit #second_cardsbox #recruit_box1 .recruit_wrap .second_cards .card1 a img {
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box1 .recruit_wrap .second_cards .card2 a img{
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box1 .recruit_wrap .second_cards .card3 a img{
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box1 .recruit_wrap .second_cards .card4 a img{
  border-radius: 1rem;
}


#recruit #second_cardsbox #recruit_box2 .recruit_wrap .second_cards .card1 a img {
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box2 .recruit_wrap .second_cards .card2 a img{
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box2 .recruit_wrap .second_cards .card3 a img{
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box2 .recruit_wrap .second_cards .card4 a img{
  border-radius: 1rem;
}


#recruit #second_cardsbox #recruit_box3 .recruit_wrap .second_cards .card1 a img {
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box3 .recruit_wrap .second_cards .card2 a img{
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box3 .recruit_wrap .second_cards .card3 a img{
  border-radius: 1rem;
}
#recruit #second_cardsbox #recruit_box3 .recruit_wrap .second_cards .card4 a img{
  border-radius: 1rem;
}





#recruit .second_textbox {
  border: solid 2px #333;

}

/* 첫번째줄 */

#recruit .cardrow1{
  
  display:flex;
  flex-direction: row;
  margin: 0 auto;
}
#second_cardsbox #recruit_box1 .recruit_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#second_cardsbox #recruit_box2 .recruit_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#second_cardsbox #recruit_box3 .recruit_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#recruit .second_cards .card1{
  width: 24rem;
}
#recruit .second_cards .card2{
  width: 24rem;
}
#recruit .second_cards .card3{
  width: 24rem;
}
#recruit .second_cards .card4{
  width: 24rem;
}

#recruit .second_cards{
  width: 23%;
}

#recruit .second_cards img{
  width: 23rem;
  height: 32.5rem;
}


#recruit .second_cards .card1 p:nth-child(2) {
  font-size: var(--font-base);
  font-weight: bold;
  padding-top: 3rem;
}
#recruit .second_cards .card1 p:nth-child(3) {
  font-size: 1.5rem;
}
#recruit .second_cards .card1 p:nth-child(4) {
  font-size: 1.5rem;
}
#recruit .second_cards .card1 p:nth-child(5) {
  font-size: 1.5rem;
}
#recruit .second_cards .card1 p:nth-child(6) {
  font-size: 1.5rem;
}

#recruit .second_cards .card2 p:nth-child(2) {
  font-size: var(--font-base);
  font-weight: bold;
  padding-top: 3rem;
}
#recruit .second_cards .card2 p:nth-child(3) {
  font-size: 1.5rem;
}
#recruit .second_cards .card2 p:nth-child(4) {
  font-size: 1.5rem;
}
#recruit .second_cards .card2 p:nth-child(5) {
  font-size: 1.5rem;
}
#recruit .second_cards .card2 p:nth-child(6) {
  font-size: 1.5rem;
}


#recruit .second_cards .card3 p:nth-child(2) {
  font-size: var(--font-base);
  font-weight: bold;
  padding-top: 3rem;
}
#recruit .second_cards .card3 p:nth-child(3) {
  font-size: 1.5rem;
}
#recruit .second_cards .card3 p:nth-child(4) {
  font-size: 1.5rem;
}
#recruit .second_cards .card3 p:nth-child(5) {
  font-size: 1.5rem;
}
#recruit .second_cards .card3 p:nth-child(6) {
  font-size: 1.5rem;
}


#recruit .second_cards .card4 p:nth-child(2) {
  font-size: var(--font-base);
  font-weight: bold;
  padding-top: 3rem;
}
#recruit .second_cards .card4 p:nth-child(3) {
  font-size: 1.5rem;
}
#recruit .second_cards .card4 p:nth-child(4) {
  font-size: 1.5rem;
}
#recruit .second_cards .card4 p:nth-child(5) {
  font-size: 1.5rem;
}
#recruit .second_cards .card4 p:nth-child(6) {
  font-size: 1.5rem;
}

/* 두번째 줄 */

#recruit .cardrow2{

  display:flex;
  flex-direction: row;
  
}



/* 세번째 줄 */

#recruit .cardrow3{

  display:flex;
  flex-direction: row;
  
}


/* 네번째 줄 */

#recruit .cardrow4{
  
  display:flex;
  flex-direction: row;
}

#recruit .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem;
}



@media (max-width:1400px)  {

   /* 카드들 */

    #recruit .second_cards {
      width:32%;
      
    }

    #recruit .second_cards .card1 {
      width:100%;
      
    }
    #recruit .second_cards .card2 {
      width:100%;
      
    }
    #recruit .second_cards .card3 {
      width:100%;
      
    }

    #recruit .second_cards .card4 {
      width:100%;
    }
    
    #recruit_footer p:nth-child(2) {
  color:var(--mainBg);
  text-align: center;
}

#recruit_footer p:nth-child(3) {
  color:var(--mainBg);
  font-size: var(--font-xxxxs);
  text-align: center;
}
#recruit_footer p:nth-child(5) {
  color:var(--mainBg);
  font-size: var(--font-xxs);
  text-align: center;

}
#recruit_footer p:nth-child(7) {
  font-size: var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}

#recruit_footer p:nth-child(8) {
  font-size: var(--font-xxs);
  font-weight:900;
  color: var(--mainBg);
  text-align: center;
}
#recruit_footer p:nth-child(9) {
  font-size:var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}

#recruit_footer p:nth-child(10) {
  font-size:var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}
#recruit_footer p:nth-child(11) {
  font-size:var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}
#recruit_footer p:nth-child(12) {
  font-size:var(--font-xxs);
  color: var(--mainBg);
  text-align: center;
}

#recruit_footer p:nth-child(13) {
  display: none;
}

#recruit_footer .footer-logo {
  display: none;
}
    
    #recruit_footer .footer_background .rel .footer_icons{
      text-align:center;
}
  
    /* #recruit_footer .footer_background .rel .footer_icons{
      margin-left: 48.5%;
  } */

  
}


@media (max-width:768px){

    #recruit .mobile_btn{
      display:block;
    }
    

    #recruit{ width:auto; height: auto;}

    #recruit #second_cardsbox { padding:0rem;}

    #recruit header .topMenu {display:none;}

    #recruit header .search-box {display:none;}

    #recruit header .user_icon {display:none;}

    /* 카드들 */

    #recruit .second_cards {
      width:50%;
      
    }

    #recruit .second_cards .card1 {
      width:100%;
      height:auto;
    }
    #recruit .second_cards .card2 {
      width:100%;
      height:auto;
    }
    #recruit .second_cards .card3 {
      width:100%;
      height:auto;
    }

    #recruit .second_cards .card4 {
      width:100%;
      height:auto;
    }
    #recruit .second_cards .card1 img {
      width: 29rem;
      height: 44rem;
    }
    #recruit .second_cards .card2 img{
      width: 29rem;
      height: 44rem;
    }
    #recruit .second_cards .card3 img{
      width: 29rem;
      height: 44rem;
    }

    #recruit .second_cards .card4 img{
      width: 29rem;
      height: 44rem;
    }


    
    #recruit_footer .footer_texts{
    text-align:center;
    color: var(--mainBg);
  }

    #recruit_footer .rel .footer_texts{
      margin: 0 0 0 0;
      position: relative;
      bottom: 7rem;
    }

    #recruit_footer .footer_background .rel .footer_icons{
      display:none;
    }

    #recruit_footer p:nth-child(2) {
        display:none;
    }
    
    #recruit_footer p:nth-child(3) {
        display:none;
    }
    #recruit_footer p:nth-child(5) {
        display:none;
    
    }
    #recruit_footer p:nth-child(7) {
        display:none;
    }
    
    #recruit_footer p:nth-child(8) {
        display:none;
    }
    #recruit_footer p:nth-child(9) {
        display:none;
    }
    
    #recruit_footer p:nth-child(10) {
        display:none;
    }
    #recruit_footer p:nth-child(11) {
        display:none;
    }
    #recruit_footer p:nth-child(12) {
        display:none;
    }
        #recruit_footer p:nth-child(13) {
        display: block;
        }

    #recruit_footer .footer-logo {
    display: block;
    }
    
    

  }