
#recruit {
  /* width: 100%; */ /* 배경 전체로 넣을 경우 */
  margin: auto;
  /* padding: 15rem 0; */
  z-index: 0;
}


/* 제목 */


#recruit #first_cards .title p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'suit';
  font-weight: bold;
  color: var(--textColor);
  font-size: var(--font-base);
}


#recruit .top-image{
  filter: brightness(40%);
  width: 100%;
  margin: 0 auto;
}


/* 첫번째 섹션 */

#recruit .recruit_cards .pre-title{
  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../image/top-image.png");
  background-position: center;
  background-size: cover;
  padding: 17.6rem 0;
  margin: 0 auto;
  text-align: center;
  height: 49rem;
}


#recruit .recruit_cards .pre-title h2{

  color: var(--mainBg);
  font-size: var(--font-xl);
  text-align: center;
  margin-top: 8rem;

}
#recruit .recruit_cards .pre-title h3{

  color: var(--mainBg);
  font-size: var(--font-base);
  text-align: center;
  margin-top: 0rem;
}

#recruit .buttons{
  display:flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  cursor: pointer;
}


#recruit .button1{
  display: inline-block;
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 2rem;
  transition: 0.3s;

}
#recruit .button1:hover{
  color: var(--secondaryColor);
  border: 0.1rem solid var(--secondaryColor);
}

#recruit .button2{
  display: inline-block;
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 2rem;
  transition: 0.3s;
  
}
#recruit .button2:hover{
  color: var(--secondaryColor);
  border: 0.1rem solid var(--secondaryColor);
}

#recruit .button3{
  display: inline-block;
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--primaryColor);
  color: var(--primaryColor);
  border-radius: 2rem;
  transition: 0.3s;

}
#recruit .button3:hover{
  color: var(--secondaryColor);
  border: 0.1rem solid var(--secondaryColor);
}



/* 검색창----------------- */
#recruit .search h5{
  margin: 0rem 0 1rem;
  font-weight: 500;
}
#recruit .search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}
#recruit .ex-search-box{ 
  position: relative;
  display: flex;
  width: 100%;
  max-width: 47rem;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  border-radius: 3.125rem;
  border: 1px solid #7FA856;
  
}
#recruit .ex-search-box>input{
  position: absolute;
  width: 100%;
  left: 190px;
  background: transparent;
  font-family: 'SUIT', sans-serif;
  font-size: 1.5rem;
}
    /* 달력인풋 스타일 */
#recruit .month-wrapper input[type="month"]{
  position: absolute;
  top: -2px;
  left: -2px;
  width: 18rem;
  height: 4rem;
  border: 1px solid #7FA856;
  padding: 1rem 2rem;
  border-radius: 3.125rem;
  margin: 0;
  font-family: 'SUIT', sans-serif;
  font-size: 1.8rem;
  background: transparent;
  color: #7FA856;
}
    /* 달력 인풋 기본 아이콘 숨기기 */
#recruit .month-wrapper input[type="month"]::-webkit-calendar-picker-indicator{
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

  /* 커스텀 아이콘 */
#recruit .month-wrapper .custom-icon{
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #7FA856; 
  pointer-events: none;
}
#recruit .ex-search-box>i{
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: #7FA856;
}

/* 검색창 끝 */



/* 두번째 섹션 */

#post-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#post-list1, #post-list2, #post-list3 {
  display: none; /* Start hidden */
}


#recruit .post-list1,#recruit .post-list2,#recruit .post-list3
{ 
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
}

#recruit .post-item {
  margin: 7rem;
}


#recruit .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem;
}



@media (max-width:1400px)  {

   /* 카드들 */

    #recruit .second_cards {
      width:32%;
      
    }

    #recruit .second_cards .card1 {
      width:100%;
      
    }
    #recruit .second_cards .card2 {
      width:100%;
      
    }
    #recruit .second_cards .card3 {
      width:100%;
      
    }

    #recruit .second_cards .card4 {
      width:100%;
    }
}


@media (max-width:768px){

    #recruit .mobile_btn{
      display:block;
    }
    

    #recruit{ width:auto; height: auto;}

    #recruit #second_cardsbox { padding:0rem;}

    #recruit header .topMenu {display:none;}

    #recruit header .search-box {display:none;}

    #recruit header .user_icon {display:none;}

    /* 카드들 */

    #recruit .second_cards {
      width:50%;
      
    }

    #recruit .second_cards .card1 {
      width:100%;
      height:auto;
    }
    #recruit .second_cards .card2 {
      width:100%;
      height:auto;
    }
    #recruit .second_cards .card3 {
      width:100%;
      height:auto;
    }

    #recruit .second_cards .card4 {
      width:100%;
      height:auto;
    }
    #recruit .second_cards .card1 img {
      width: 29rem;
      height: 44rem;
    }
    #recruit .second_cards .card2 img{
      width: 29rem;
      height: 44rem;
    }
    #recruit .second_cards .card3 img{
      width: 29rem;
      height: 44rem;
    }

    #recruit .second_cards .card4 img{
      width: 29rem;
      height: 44rem;
    }
    
  }