@charset "utf-8"; 

:root{
  --mainBg: #F7F4F3;
  --textColor: #333;
  --textColorSub: #999;
  --primaryColor: #7FA856;
  --secondaryColor: #43BF7B;
  --accentColor: #EF508B;
  --font-xxl: 6.4rem;
  --font-xl: 4.8rem;
  --font-lg: 3.2rem;
  --font-base: 2.4rem;
  --font-sm: 2.0rem;
  --font-xs: 1.8rem;
  --font-xxs: 1.6rem;
  --font-xxxs: 1.3rem;
  --font-xxxxs: 1.0rem;
  --radius: 30px;
  --radiusInfinite: 99999px;
  --boxShadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
body{
  font-size: var(--font-base);
}
section{
  position: relative;
  width: 140rem; /* 1400px */
  /* width: 100%; */ /* 배경 전체로 넣을 경우 */
  margin: auto;
  padding: 15rem 0;
  z-index: 0;
}
.rel{
  position: relative;
  height: 100%;
}
h2{ /* 메인타이틀 */
  font-family: 'YUniverse-B';
  font-weight: bold;
  font-size: var(--font-xxl);
}
h3{ /* 제목 */
  font-weight: 600;
  font-size: var(--font-lg);
}
h4{ /* 작은제목 */
  font-weight: 500;
  font-size: var(--font-base);
}
h5{ /* 헤더 */
  font-size: var(--font-sm);
  color: var(--textColorSub);
}
h6{ /* 본문 */
  font-size: var(--font-xs);
  color: var(--textColorSub);
}

.tag{
  display: inline-block;
  color: var(--primaryColor);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--primaryColor);
  border-radius: var(--radius);
}
.btn{
  display: inline-block;
  width: 30rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  border-radius: var(--radiusInfinite);
  color: var(--mainBg);
  box-shadow: var(--boxShadow);
  transition: 0.3s;
}
.btn:hover{
  background-color: var(--secondaryColor);
}
  
/* Tablet */
@media screen and (max-width:1400px){
  body{
    font-size: var(--font-sm);
  }
  h2{ /* 메인타이틀 */
  font-size: var(--font-xl);
  }
  h3{ /* 제목 */
    font-size: var(--font-lg);
  }
  h4{ /* 작은제목 */
    font-size: var(--font-sm);
  }
  h5{ /* 헤더 */
    font-size: var(--font-xs);
  }
  h6{ /* 본문 */
    font-size: var(--font-xxs);
  }
}

/* Mobile */
@media screen and (max-width:768px){
  body{
    font-size: var(--font-xs);
  }
  h2{ /* 메인타이틀 */
  font-size: var(--font-lg);
  }
  h3{ /* 제목 */
    font-size: var(--font-sm);
  }
  h4{ /* 작은제목 */
    font-size: var(--font-xs);
  }
  h5{ /* 헤더 */
    font-size: var(--font-xxs);
  }
  h6{ /* 본문 */
    font-size: var(--font-xxxs);
  }
}