@charset "utf-8"; 
#detail{
  background: var(--mainBg);
}

/* 메인 */
#detail main .main-image{
  /* border: 1px solid #000; */
  width: 100%;
  height: 60.0rem;
  background: url(image/detail_main.jpg) no-repeat center/120%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
#detail main .des{
  /* border: 1px solid red; */
  width: 140rem;
  margin: 3rem auto;
  text-align: right;
}
#detail main .tags{
  margin: 2rem 0;
  /* font-size: var(--font-sm); */
}
#detail main .tag:last-child{
  color: var(--accentColor);
  border: 0.1rem solid var(--accentColor);
  margin-left: 2rem;
}

#detail main .des h6{
  margin-top: 1rem;
}
#detail main .tags:last-child{
  width: 140rem;
  margin: 3rem auto;
  text-align: right;
}
#detail main .tags:last-child .tag{
  border-width: 0.2rem;
  font-weight: 500;
}

/* 페이지 공통 */
#detail section h2{
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--textColorSub);
  margin-bottom: 8rem;
}
#detail section p,
#detail section li{
  font-size: var(--font-xs);
}
#detail section .container{
  background-color: #fff;
  border-radius: var(--radius);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 5rem;
}

/* 전시 개요 & 작가 */
#detail #overview .container-wrap,
#detail #artist .container-wrap{
  display: flex;
  gap: 3rem;
}
#detail #overview .info,
#detail #artist .profile{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#detail #overview .info h3,
#detail #artist .profile h3{
  margin-bottom: 3rem;
}
#detail #overview .content,
#detail #artist .content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#detail #overview .info p{
  /* border: 1px solid #000; */
  display: flex;
  width: 45rem;
  
}
#detail #artist .profile p{
  /* border: 1px solid #000; */
  display: flex;
  width: 30rem;
}

#detail #overview .info p b,
#detail #artist .profile p b,
#detail #artist .career b{
  /* border: 1px solid red; */
  display: inline-block;
  width: 10rem;
  font-size: var(--font-xs);
}
#detail #overview .info .content p span{
  flex: 1;
}
#detail #overview .info p:last-of-type,
#detail #artist .profile p:last-of-type{
  margin-top: 2rem;
}
#detail #overview .info p:last-of-type img{
  margin-right: 2rem;
}
#detail #overview .review,
#detail #artist .career{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#detail #artist .career .win{
  display: flex;
  margin-top: 1rem;
}
#detail #artist .career .win li{
  margin-bottom: 0.5rem;
}
#detail #artist .career .btn{
  align-self: center;
}



/* 미리보기 & 작가의 다른 전시 */
#detail #artist .another h3{
  margin: 8rem 0;
}
#detail #preview .cards,
#detail #artist .cards{
  /* border: 1px solid #000; */
  padding: 0 10rem;
  display: flex;
  gap: 3rem;
  position: relative;
}
#detail #preview .cards::before,
#detail #preview .cards::after,
#detail #artist .cards::before,
#detail #artist .cards::after{
  position: absolute;
  font-family: fontawesome;
  font-size: 8rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#detail #preview .cards::before,
#detail #artist .cards::before{
  content: '\f053';
  left: 0;
}
#detail #preview .cards::after,
#detail #artist .cards::after{
  content: '\f054';
  right: 0;
}

#detail #preview .cards .card,
#detail #artist .cards .card{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#detail #preview .cards img,
#detail #artist .cards img{
  object-fit: cover;
  aspect-ratio: 3/4;
  border-radius: var(--radiusInfinite) var(--radiusInfinite) 0 0;
}
#detail #preview .cards .container,
#detail #artist .cards .container{
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  
#detail #preview .cards .container h5,
#detail #artist .cards .container h5{
  font-weight: 500;
}
#detail #preview .cards .container .creation,
#detail #preview .cards .container .meta{
  font-size: var(--font-xxs);
  color: var(--textColorSub);
}
#detail #preview .card3 .title{
  height: 5rem;
}

/* 감상평 */
#detail #comment .container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#detail #comment .person{
  display: flex;
  gap: 10rem;
  align-items: center;
}
#detail #comment .person:not(:last-of-type){
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--textColorSub);
}
#detail #comment .person .right{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* 작가 */
  
#detail #artist .title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--textColorSub);
  margin-bottom: 8rem;
}
#detail #artist .left{
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
}
#detail #artist .left h2{
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
}
#detail #artist .left h4{
  color: var(--accentColor);
  margin-left: 3rem;
}
#detail #artist .left h4::before{
  content: '\f004';
  font-family: fontawesome;
  border: 0.2rem solid var(--accentColor);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: var(--font-sm);
  margin-right: 1rem;
}



/* Tablet */
@media screen and (max-width:1400px){
  #detail .rel{
    /* max-width: 140rem; */
    width: 100%;
    
  }
  #detail main .des{
    margin: 3rem;
    /* padding: 5rem; */
  }
  #detail main .tags:last-child{
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width:768px){
  
}

